.info-text {
    display: flex;
    justify-content: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
}

.paragraph>p {
    padding: 20px;
    width: 600px;
    border-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

.information-table {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    margin-bottom: 30px;
}


.information-table td {
    border: 1px solid #ffffff;
    width: 250px;
    height: 50px;
}