/* .loading {
    font-size: 100px;
    animation: rotation 2s infinite linear;
    color: rgb(255, 255, 255);
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} */


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background-color: #333232;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
}

.contact-title {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-in-container label {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.controller-div {
    width: 200px;
}

.contact-input {
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #333232;
}

.contact-button {
    /* background-color: #ffffff; */
    /* color: #333232; */
    /* border: 1px solid #333232; */
    /* border-radius: 5px; */
    margin-left: 5px;
    /* cursor: pointer; */
    width: 100%;
    /* height: 40px; */
    font-size: 15px;
}